.imgGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 1.5rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.imgGrid .single {
  cursor: pointer;
}

.imgGrid .single img {
  width: 9rem;
  max-width: 100%;
  transition: all 0.15s ease-in-out;
}

@media only screen and (max-width: 900px) {
  .imgGrid .single img  {
    width: 5rem;
  }
}

.imgGrid .single img:hover {
  transform: scale(1.1);
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.15), 0 1rem 1rem rgba(0, 0, 0, 0.15);
}
